body {
    font-family: monospace;
    font-size: 1rem;
    background-color: cornflowerblue;
    color: antiquewhite;
}
.h1 {
    display: center;
    align-items: center;
    margin: 0;
}
.item_ul {
    margin-bottom: 10px;
    margin-left: 40px;
    font-weight: 600;
}
.h2 {
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 600;
}
table, tr, th {
    border-collapse: collapse;
    border: 1px solid black;
}
.table {
    display: center;
    justify-items: left;
    align-items: center;
    margin: 20px;
}